---
import ChargeSection from "../components/ChargeSection.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <!-- header  -->
  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
    <div class="snap-center">
      <!-- section  -->
      <HeroSection />
    </div>
    <div class="snap-center">
      <!-- section  -->
      <ChargeSection />
    </div>
  </main>
</Layout>
