---
import EndSection from "../components/EndSeccion.astro";
import ChargeSection5 from "../components/ChangeSeccion5.astro";
import ChargeSection4 from "../components/ChangeSeccion4.astro";
import ChargeSection3 from "../components/ChangeSeccion3.astro";
import ChargeSection2 from "../components/ChangeSeccion2.astro";
import ChargeSection1 from "../components/ChargeSection.astro";
import ChargeSection from "../components/ChangeSeccion1.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <!-- header  -->
  <LandingHeader/>
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
   <div class="snap-center">
    <HeroSection/>
   </div>
   <div class="snap-center">
    <ChargeSection/>
   </div>
   <div class="snap-center">
    <ChargeSection1/>
   </div>
   <div class="snap-center">
    <ChargeSection2/>
   </div>
   <div class="snap-center">
    <ChargeSection3/>
   </div>
   <div class="snap-center">
    <ChargeSection4/>
   </div>
   <div class="snap-center">
    <EndSection/>
   </div>

  </main>
</Layout>
