<section class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative" data-header-color="black">
    <div class="flex flex-col z-30 relative h-full">
      <header class="flex flex-col">
        <h2 class="text-current pt-40 text-[40px] font-medium">
            Accessories
        </h2>

      </header>

      <footer class="flex flex-col flex-grow justify-end pb-20 ">
        <div class="gap-x-6 flex mx-auto">
          <a class="text-white bg-[#171a20] px-20 py-1.5 inline-block font-medium text-sm rounded border-[3px] border-transparent" href="#">Order Now</a>
        </div>
      </footer>
    </div>

    <div class="absolute z-10 top-0 bottom-0 h-full w-full">
      <img src="/Desktop_Accessories.avif" alt="Accessories" class="h-full w-full object-cover object-center"></img>
    </div>  
</section> 