<section class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative" data-header-color="white">
    <div class="flex flex-col z-30 relative h-full">
      <header class="flex flex-col">
        <h2 class="text-white pt-40 text-[40px] font-medium">
          Experience Tesla
        </h2>
        <p class="text-white text-sm">Schedule a Demo Drive Today</p>
      </header>

      <footer class="flex flex-col flex-grow justify-end pb-20 ">
        <div>
          <a class="text-white px-20 py-1.5 inline-block font-medium text-sm rounded border-[3px] border-white bg-white/5 backdrop-blur-sm hover:bg-white hover:text-black transition-colors" href="#">Demo Drive</a>
        </div>
      </footer>
    </div>

    <div class="absolute z-10 top-0 bottom-0 h-full w-full">
      <video class="object-center object-cover h-full w-full" autoplay muted loop src="/public_video.webm"></video>
    </div>
</section>